scripts/.local/bin/make-thumbz.sh
sublime-text/.config/sublime-text-3/Cache
sublime-text/.config/sublime-text-3/Local
sublime-text/.config/sublime-text-3/Packages/User/Package Control.cache/
*.cache
sublime-text/.config/sublime-text-3/Local/Auto\ Save\ Session.sublime_session
blender/.config/blender/2.79/config/recent-files.txt
fonts/.fonts/Font Awesome 5 Brands-Regular-400.otf
fonts/.fonts/Font Awesome 5 Pro-Light-300.otf
fonts/.fonts/Font Awesome 5 Pro-Regular-400.otf
fonts/.fonts/Font Awesome 5 Pro-Solid-900.otf
mpd/.config/mpd/database
