$color-00: #ffffff;
$color-00: #ffccff;
$color-00: #ffbb88;
$color-00: #ee8855;
$color-00: #ccaaff;
$color-00: #cc7799;
$color-00: #bb77cc;
$color-00: #bb7777;
$color-00: #aa5533;
$color-00: #995599;
$color-00: #994455;
$color-00: #8877ff;
$color-00: #663366;
$color-00: #5544cc;
$color-00: #552211;
$color-00: #331122;
$color-00: #2244ff;
$color-00: #221155;
$color-00: #220000;
$color-00: #1122aa;
$color-00: #000022;
$color-00: #000000;
